
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  font-family: system-ui;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-size: 12pt;
  margin: 0 auto;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 150%;
}

h1 {
  font-size: 200%;
}

h1, h2, h3, h4, h5, h6, figcaption, p, nav {
  margin: 1rem;
}

figure {
  margin: 1rem 0 1rem;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
  background-color: lightskyblue;
  display: inline-block;
  padding: 0 0.5rem;
}

img {
  max-width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.Grid {
  --col-count: 4;
  --gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(100%/var(--col-count) - var(--gap) * (var(--col-count) - 1) / var(--col-count)));
  gap: var(--gap);
}
@media (max-width: 900px) {
  .Grid {
    --col-count: 2;
    --gap: 1rem;
  }
}
@media (max-width: 450px) {
  .Grid {
    --col-count: 1;
    --gap: 1rem;
  }
}

.Card,
.Card:visited,
.Card:active {
  display: block;
  text-align: center;
  background-color: lightskyblue;
  padding: 1rem;
}

.FigureRotator {
  figure {
    display: none;
  }

  &:hover {
    figure:nth-child(1 of figure) {
      display: none;
    }
    figure.show {
      display: block !important;
    }
  }
  &:not(hover) {
    figure:nth-child(1 of figure) {
      display: block;
    }
  }
}
